*~
*.pyc
.idea/
/.ipynb_checkpoints/
.ipynb_checkpoints
.DS_Store
.coverage
.cov2emacs.log
derby.log
metastore_db/
books

.cache/
\.pytest_cache/v/cache/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

